<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button type="button" (click)="sidenav.toggle()">
            <mat-icon svgIcon="menu" aria-label="Menu"></mat-icon>
        </button>
        <span>
            Poddy
        </span>
        <span class="toolbar__spacer"></span>
        <div class="toolbar__search">
            <mat-form-field>
                <input matInput
                       placeholder="Search for podcast"
                       type="text"
                       (keyup.enter)="handleSearchFieldClick()"
                       [formControl]="searchFieldControl">
                <mat-icon matSuffix
                          svgIcon="search"
                          (click)="handleSearchFieldClick()"></mat-icon>
            </mat-form-field>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #sidenav opened>
        Sidenav content
    </mat-sidenav>
    <mat-sidenav-content>
        <h2>Current TAB ID: {{ tabId }}</h2>
        <p>You can easily send messages to the content page with the provided Tab ID!</p>
        <button mat-stroked-button (click)="onClick()">Click me to test</button>
        <div><strong>{{ message }}</strong></div>
    </mat-sidenav-content>
</mat-sidenav-container>
